section.gallery
    .wrapper
        +heading('what we do', 'some of our work')

    .gallery-grid
        .grid-item
            .g-img-wrap
                img.responsive(src=imgPath + 'g-item1.png' alt='')
                .item-title
                    i.fa.fa-picture-o(aria-hidden='true')
                    br
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;creativily design
                    p Lorem ipsum dolor.
            .g-img-wrap
                img.responsive(src=imgPath + 'g-item2.png' alt='')
        .grid-item
            .g-img-wrap
                img.responsive(src=imgPath + 'g-item3.png' alt='')
            .g-img-wrap
                img.responsive(src=imgPath + 'g-item7.png' alt='')
        .grid-item
            .g-img-wrap-long
                img.responsive(src=imgPath + 'g-item4.png' alt='')
        .grid-item
            .g-img-wrap
                img.responsive(src=imgPath + 'g-item5.png' alt='')
            .g-img-wrap
                img.responsive(src=imgPath + 'g-item6.png' alt='')
